<template>
  <div class="content">
    <div class="content-title">Articles - Detail</div>
    <div class="content-body">
      <div class="d-flex mb-4 justify-content-between">
        <div>
          <a class="btn btn-outline-secondary" @click="$router.go(-1)">Back</a>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-6">
          <h3>{{fTitle}}</h3>
          <div v-html="fContent"></div>
        </div>
        <div class="col-6">
          <img :src="fThumbnail" alt="img" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      fTitle: "",
      fThumbnail: "",
      fContent: "",
      dataId: this.$route.params.id
    };
  },
  methods: {
    fetchData() {
      axios
        .get("/site-api/admin/articles/" + this.dataId)
        .then(response => {
          this.fTitle = response.data.title;
          this.fThumbnail = response.data.thumbnail;
          this.fContent = response.data.content;
        })
        .catch(error => {
          this.$swal.fire({
            type: "error",
            title: "Error" + error.response.status + ": failed to fetch data!",
            text: error.response.data.message
          });
        });
    }
  },
  created() {
    this.fetchData();
  }
};
</script>

<style scoped>
</style>
