<template>
  <section id="vehicle-car">
    <div class="content">
      <div class="content-title">Cars Data</div>
      <div class="content-body">
        <div class="float-container m-4">
          <div class="p-4">
            <div class="d-flex mb-4 justify-content-end">
              <p class="text-muted"># Double click to edit</p>
            </div>
            <car-brand
              v-on:deleted="fetchCars"
              v-for="brand in cars"
              :key="brand.id"
              :brand="brand"
            ></car-brand>
            <div class="d-flex justify-content-center py-2">
              <button class="btn btn-outline-info" @click="newBrand">Add new Car Brand</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data() {
    return {
      cars: []
    };
  },
  methods: {
    fetchCars() {
      axios
        .get("/site-api/admin/cars/brands")
        .then(response => {
          this.cars = response.data;
        })
        .catch(error => {
          this.$swal.fire({
            type: "error",
            title:
              "Error " +
              error.response.status +
              ": failed to fetch Vehicle Rates data!",
            text: error.response.data.message
          });
        });
    },
    newBrand() {
      axios
        .post("/site-api/admin/cars/brands")
        .then(response => {
          this.$alert.fire({
            type: "success",
            text: response.data.message
          });
          this.fetchCars();
        })
        .catch(error => {
          this.$swal.fire({
            type: "error",
            title:
              "Error " +
              error.response.status +
              ": failed to create new brand!",
            text: error.response.data.message
          });
        });
    }
  },
  created() {
    this.fetchCars();
  }
};
</script>

<style scoped>
</style>
