<template>
  <div class="content">
    <div class="content-title">Car Insurance Company - Detail</div>
    <div class="content-body">
      <div class="d-flex mb-4 justify-content-between">
        <div>
          <a class="btn btn-outline-secondary" @click="$router.go(-1)">Back</a>
        </div>
        <div>
          <router-link
            class="btn btn-outline-primary"
            :to="{path:'/car-insurance-benefit', query:{'id':insurance.id,'name':insurance.name}}"
            :href="'/car-insurance-benefit'"
          >Edit Benefit</router-link>
          <router-link
            class="btn btn-outline-primary"
            :to="{path:'/car-insurance-workshop', query:{'id':insurance.id,'name':insurance.name}}"
            :href="'/car-insurance-workshop'"
          >Edit Workshop</router-link>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-6">
          <p>{{insurance.name}} Insurance</p>
          <p>Admin Fee: {{$currency.format(insurance.admin_fee)}}</p>
          <p>Created: {{insurance.created_at}}</p>
          <p>Last Edited: {{insurance.updated_at}}</p>
        </div>
        <div class="col-6">
          <img :src="insurance.logo" alt="img" class="img-fluid" />
        </div>
      </div>

      <h3>Rates</h3>
      <hr />
      <p class="h4">Comprehensive Coverage</p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Category</th>
            <th>Car Price Range</th>
            <th>Region 1</th>
            <th>Region 2</th>
            <th>Region 3</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Category 1</td>
            <td>0 to Rp125.000.000</td>
            <td>{{rate['comp']['1']['1']}}</td>
            <td>{{rate['comp']['2']['1']}}</td>
            <td>{{rate['comp']['3']['1']}}</td>
          </tr>
          <tr>
            <td>Category 2</td>
            <td>>Rp125.000.000 to Rp200.000.000</td>
            <td>{{rate['comp']['1']['2']}}</td>
            <td>{{rate['comp']['2']['2']}}</td>
            <td>{{rate['comp']['3']['2']}}</td>
          </tr>
          <tr>
            <td>Category 3</td>
            <td>>Rp200.000.000 to Rp400.000.000</td>
            <td>{{rate['comp']['1']['3']}}</td>
            <td>{{rate['comp']['2']['3']}}</td>
            <td>{{rate['comp']['3']['3']}}</td>
          </tr>
          <tr>
            <td>Category 4</td>
            <td>>Rp200.000.000 to Rp400.000.000</td>
            <td>{{rate['comp']['1']['4']}}</td>
            <td>{{rate['comp']['2']['4']}}</td>
            <td>{{rate['comp']['3']['4']}}</td>
          </tr>
          <tr>
            <td>Category 5</td>
            <td>>Rp800.000.000</td>
            <td>{{rate['comp']['1']['5']}}</td>
            <td>{{rate['comp']['2']['5']}}</td>
            <td>{{rate['comp']['3']['5']}}</td>
          </tr>
        </tbody>
      </table>

      <p class="h4">Total Loss Only Coverage</p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Category</th>
            <th>Car Price Range</th>
            <th>Region 1</th>
            <th>Region 2</th>
            <th>Region 3</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Category 1</td>
            <td>0 to Rp125.000.000</td>
            <td>{{rate['tlo']['1']['1']}}</td>
            <td>{{rate['tlo']['2']['1']}}</td>
            <td>{{rate['tlo']['3']['1']}}</td>
          </tr>
          <tr>
            <td>Category 2</td>
            <td>>Rp125.000.000 to Rp200.000.000</td>
            <td>{{rate['tlo']['1']['2']}}</td>
            <td>{{rate['tlo']['2']['2']}}</td>
            <td>{{rate['tlo']['3']['2']}}</td>
          </tr>
          <tr>
            <td>Category 3</td>
            <td>>Rp200.000.000 to Rp400.000.000</td>
            <td>{{rate['tlo']['1']['3']}}</td>
            <td>{{rate['tlo']['2']['3']}}</td>
            <td>{{rate['tlo']['3']['3']}}</td>
          </tr>
          <tr>
            <td>Category 4</td>
            <td>>Rp200.000.000 to Rp400.000.000</td>
            <td>{{rate['tlo']['1']['4']}}</td>
            <td>{{rate['tlo']['2']['4']}}</td>
            <td>{{rate['tlo']['3']['4']}}</td>
          </tr>
          <tr>
            <td>Category 5</td>
            <td>>Rp800.000.000</td>
            <td>{{rate['tlo']['1']['5']}}</td>
            <td>{{rate['tlo']['2']['5']}}</td>
            <td>{{rate['tlo']['3']['5']}}</td>
          </tr>
        </tbody>
      </table>
      <p class="h4">Expansion</p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <td>TSFWD COMP</td>
            <td>EQVET COMP</td>
            <td>SRCC COMP</td>
            <td>TS COMP</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{rates_add.tsfwd_comp}}</td>
            <td>{{rates_add.eqvet_comp}}</td>
            <td>{{rates_add.srcc_comp}}</td>
            <td>{{rates_add.ts_comp}}</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered">
        <thead>
          <tr>
            <td>TSFWD TLO</td>
            <td>EQVET TLO</td>
            <td>SRCC TLO</td>
            <td>TS TLO</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{rates_add.tsfwd_tlo}}</td>
            <td>{{rates_add.eqvet_tlo}}</td>
            <td>{{rates_add.srcc_tlo}}</td>
            <td>{{rates_add.ts_tlo}}</td>
          </tr>
        </tbody>
      </table>
      <table class="table table-bordered">
        <thead>
          <tr>
            <td>Personal Accident Driver</td>
            <td>Personal Accident Passenger</td>
            <td>TPL</td>
            <td>ATPM</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{rates_add.pa_driver}}</td>
            <td>{{rates_add.pa_passenger}}</td>
            <td>{{rates_add.tpl}}</td>
            <td>{{rates_add.atpm}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      insurance: [],
      rate: {
        comp: {
          1: {
            1: "",
            2: "",
            3: "",
            4: "",
            5: ""
          },
          2: {
            1: "",
            2: "",
            3: "",
            4: "",
            5: ""
          },
          3: {
            1: "",
            2: "",
            3: "",
            4: "",
            5: ""
          }
        },
        tlo: {
          1: {
            1: "",
            2: "",
            3: "",
            4: "",
            5: ""
          },
          2: {
            1: "",
            2: "",
            3: "",
            4: "",
            5: ""
          },
          3: {
            1: "",
            2: "",
            3: "",
            4: "",
            5: ""
          }
        }
      },
      rates_add: {
        tsfwd_comp: "",
        tsfwd_tlo: "",
        eqvet_comp: "",
        eqvet_tlo: "",
        srcc_comp: "",
        srcc_tlo: "",
        ts_comp: "",
        ts_tlo: "",
        tpl: "",
        pa_driver: "",
        pa_passenger: "",
        atpm: ""
      },
      dataId: this.$route.params.id
    };
  },
  methods: {
    fetchData() {
      axios
        .get("/site-api/admin/car-insurances/" + this.dataId)
        .then(response => {
          this.insurance = response.data;
          this.rate = response.data.rates;
          this.rates_add = response.data.rates_add;
        })
        .catch(error => {
          this.$swal.fire({
            type: "error",
            title: "Error" + error.response.status + ": failed to fetch data!",
            text: error.response.data.message
          });
        });
    }
  },
  created() {
    this.fetchData();
  }
};
</script>

<style scoped>
</style>
