<template>
    <div class="content">
        <div class="content-title">Easurance Management Site</div>

        <div class="content-body">
            Home
        </div>
    </div>
</template>

<script>
    export default {
        name: "Home"
    }
</script>

<style scoped>

</style>