<template>
  <div class="content">
    <div class="content-title">Property Insurance Company - Detail</div>
    <div class="content-body">
      <div class="d-flex mb-4 justify-content-between">
        <div>
          <a class="btn btn-outline-secondary" @click="$router.go(-1)">Back</a>
        </div>
        <div>
          <router-link
            class="btn btn-outline-primary"
            :to="{path:'/property-insurance-benefit', query:{'id':insurance.id, 'name':insurance.name}}"
            :href="'/property-insurance-benefit'"
          >Edit Benefit</router-link>
        </div>
      </div>

      <hr />
      <div class="row">
        <div class="col-6">
          <p>{{insurance.name}} Insurance</p>
          <p>Admin Fee: {{$currency.format(insurance.admin_fee)}}</p>
          <p>Created: {{insurance.created_at}}</p>
          <p>Last Edited: {{insurance.updated_at}}</p>
        </div>
        <div class="col-6">
          <img :src="insurance.logo" alt="img" class="img-fluid" />
        </div>
      </div>

      <h3>Rates</h3>
      <hr />
      <p class="h4">Flexas</p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Flexas Class 1</th>
            <th>Flexas Class 2</th>
            <th>Flexas Class 3</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{rates.rate_flexas_class1}}</td>
            <td>{{rates.rate_flexas_class2}}</td>
            <td>{{rates.rate_flexas_class3}}</td>
          </tr>
        </tbody>
      </table>

      <p class="h4">Expansion</p>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>EQVET Zone 1</th>
            <th>EQVET Zone 2</th>
            <th>EQVET Zone 3</th>
            <th>EQVET Zone 4</th>
            <th>EQVET Zone 5</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{rates.rate_eqvet_zone1}}</td>
            <td>{{rates.rate_eqvet_zone2}}</td>
            <td>{{rates.rate_eqvet_zone3}}</td>
            <td>{{rates.rate_eqvet_zone4}}</td>
            <td>{{rates.rate_eqvet_zone5}}</td>
          </tr>
        </tbody>
      </table>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Other</th>
            <th>RSMDCC</th>
            <th>TSFWD 3</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{rates.rate_other}}</td>
            <td>{{rates.rate_rsmdcc}}</td>
            <td>{{rates.rate_tsfwd}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      insurance: [],
      rates: {
        rate_flexas_class1: "",
        rate_flexas_class1: "",
        rate_flexas_class3: "",
        rate_rsmdcc: "",
        rate_other: "",
        rate_tsfwd: "",
        rate_eqvet_zone1: "",
        rate_eqvet_zone2: "",
        rate_eqvet_zone3: "",
        rate_eqvet_zone4: "",
        rate_eqvet_zone5: ""
      },
      dataId: this.$route.params.id
    };
  },
  methods: {
    fecthData() {
      axios
        .get("/site-api/admin/property-insurances/" + this.dataId)
        .then(response => {
          this.insurance = response.data;
          this.rates = response.data.rates;
        })
        .catch(error => {
          this.$swal.fire({
            type: "error",
            title: "Error" + error.response.status + ": failed to fetch data!",
            text: error.response.data.message
          });
        });
    }
  },
  created() {
    this.fecthData();
  }
};
</script>

<style scoped>
</style>
