<template>
  <div class="content">
    <div class="content-title">Property Region - Detail</div>
    <div class="content-body">
      <div class="d-flex mb-4 justify-content-between">
        <div>
          <a class="btn btn-outline-secondary" @click="$router.go(-1)">Back</a>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-6">
          <h2>Province: {{province.name}}</h2>
        </div>
      </div>

      <section id="cities">
        <h3>Cities:</h3>
        <div class="row d-flex justify-content-center">
          <div
            v-for="(item,index) in province.cities"
            class="col-10 border border-primary bg-light p-2 mb-4"
          >
            <property-city
              :item="item"
              :index="index"
              :provinceId="province.id"
              v-on:changed="fetchData"
              v-on:remove="onRemove"
            ></property-city>
          </div>
          <div class="col-12 d-felx justify-content-center">
            <button class="btn btn-outline-primary my-4" @click.prevent="addCity">Add City</button>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import PropertyCity from "../module/PropertyCity";
export default {
  components: {
    PropertyCity
  },
  data() {
    return {
      province: [],
      dataId: this.$route.params.id
    };
  },
  methods: {
    addCity() {
      this.province.cities.push({
        name: "",
        zone_code: ""
      });
    },
    onRemove(index) {
      this.province.cities.splice(index, 1);
    },
    fetchData() {
      axios
        .get("/site-api/admin/properties/provinces/" + this.dataId)
        .then(response => {
          this.province = response.data;
          if (!this.province.hasOwnProperty("cities")) {
            this.$set(this.province, "cities", []);
          }
        })
        .catch(error => {
          console.log(error);
          this.$swal.fire({
            type: "error",
            title: "Error" + error.response.status + ": failed to fetch data!",
            text: error.response.data.message
          });
        });
    }
  },
  created() {
    this.fetchData();
  }
};
</script>

<style scoped>
</style>
