<template>
  <div class="content">
    <div class="content-title">Travel Insurance Company - Detail</div>
    <div class="content-body">
      <div class="d-flex mb-4 justify-content-between">
        <div>
          <a class="btn btn-outline-secondary" @click="$router.go(-1)">Back</a>
        </div>
        <div>
          <router-link
            class="btn btn-outline-primary"
            :to="{path:'/travel-insurance-benefit', query:{'id':insurance.id, 'name':insurance.name}}"
            :href="'/travel-insurance-benefit'"
          >Edit Benefit</router-link>
        </div>
      </div>

      <hr />
      <div class="row">
        <div class="col-6">
          <p>{{insurance.name}} Insurance</p>
          <p>Admin Fee: {{$currency.format(insurance.admin_fee)}}</p>
          <p>Created: {{insurance.created_at}}</p>
          <p>Last Edited: {{insurance.updated_at}}</p>
        </div>
        <div class="col-6">
          <img :src="insurance.logo" alt="img" class="img-fluid" />
        </div>
      </div>
      <section id="packages">
        <h3>Packages</h3>
        <hr />
        <div class="row d-flex justify-content-center">
          <div
            v-for="(item,index) in insurance.packages"
            class="col-10 border border-primary bg-light p-2 mb-4"
          >
            <travel-package
              :item="item"
              :index="index"
              :insuranceId="insurance.id"
              v-on:changed="fetchData"
              v-on:remove="onRemove"
            ></travel-package>
          </div>
          <div class="col-12 d-flex justify-content-center">
            <button class="btn btn-outline-primary my-4" @click.prevent="addPackage">Add Package</button>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import TravelPackage from "../module/TravelPackage";
export default {
  components: {
    TravelPackage
  },
  data() {
    return {
      insurance: [],
      dataId: this.$route.params.id
    };
  },
  methods: {
    addPackage() {
      this.insurance.packages.push({
        name: "",
        type: "",
        region: ""
      });
    },
    onRemove(index) {
      this.insurance.packages.splice(index, 1);
    },
    fetchData() {
      axios
        .get("/site-api/admin/travel-insurances/" + this.dataId)
        .then(response => {
          this.insurance = response.data;
          if (!this.insurance.hasOwnProperty("packages")) {
            this.$set(this.insurance, "packages", []);
          }
        })
        .catch(error => {
          console.log(error);
          this.$swal.fire({
            type: "error",
            title: "Error" + error.response.status + ": failed to fetch data!",
            text: error.response.data.message
          });
        });
    }
  },
  created() {
    this.fetchData();
  }
};
</script>

<style scoped>
</style>
