// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~summernote/dist/summernote-bs4.css';

$header-nav-height: 58px;

html{
  height: 100%;
}

body{
  overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
  margin: 0;  /*removes default style*/
  box-sizing: border-box;
  height: 100%;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  background-color: #34495e;
}

.app{
  height: 100%;
  display: flex;
  flex-direction: column;

  .header-nav{
    width: 100%;
    height: $header-nav-height;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .nav-brand{
      padding: 0 10px;
      display: inline-block;
    }
  }
  .body-container{
    display: flex;
    height: 100%;
    flex-grow: 1;

    .side-nav{
      flex-shrink: 0;
      overflow-y: auto;
      background: #34495e;

      .router-link-active{
        background: #2c3e50;
      }
      .submenu-item{
        padding-left: 1.5rem;
      }
      .submenu-item2{
        padding-left: 3rem;
      }

      a{
        color: #ffffff;
        &:hover,&:active{
          color: #ecf0f1;
        }
      }
      .nav-link{
        &:hover,&:active{
          background: #2c3e50;
        }
      }
    }
    .main-content{
      flex-grow: 1;
      overflow-y: auto;
      background: #ecf0f1;
      -webkit-box-shadow: inset 5px 4px 25px 0px rgba(232,232,232,1);
      -moz-box-shadow: inset 5px 4px 25px 0px rgba(232,232,232,1);
      box-shadow: inset 5px 4px 25px 0px rgba(232,232,232,1);

      .content{
        .content-title{
          margin: 1.5rem 1.5rem 0.5rem;
          font-size: 1.8rem;
          font-weight: 400;
        }
        .content-body{
          margin: 0.5rem 1.5rem 1.5rem;
          padding: 1.5rem;
          background: #ffffff;
          -webkit-box-shadow: 7px 5px 25px 0px rgba(150,150,150,1);
          -moz-box-shadow: 7px 5px 25px 0px rgba(150,150,150,1);
          box-shadow: 7px 5px 25px 0px rgba(150,150,150,1);
          border-radius: 10px 10px 10px 10px;
          -moz-border-radius: 10px 10px 10px 10px;
          -webkit-border-radius: 10px 10px 10px 10px;
        }
      }
    }

  }
}
