<template>
  <div class="card fec">
    <div class="card-header">
      <div class="h3 d-inline-block">
        <edit-text
          v-on:deleted="$emit('deleted')"
          :string.sync="brand.name"
          :url="'/site-api/admin/cars/brands/'+brand.id"
        ></edit-text>
      </div>
      <button class="btn btn-link dropdown-toggle" v-on:click="toggle">show</button>
    </div>
    <template v-if="show">
      <template v-if="isLoading">
        <div class="card-body">LOADING</div>
      </template>
      <car-type v-on:deleted="fetchTypes" v-else v-for="type in types" :key="type.id" :type="type"></car-type>
      <div class="card-body">
        <button class="btn btn-outline-info" @click="newType">Add new type for {{brand.name}}</button>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  props: {
    brand: Object
  },
  data() {
    return {
      show: false,
      types: [],
      isLoading: false
    };
  },
  methods: {
    toggle() {
      this.show = !this.show;
      if (this.show && this.types.length === 0) this.fetchTypes();
    },
    fetchTypes() {
      this.isLoading = true;
      axios
        .get("/site-api/admin/cars/brands/" + this.brand.id + "/types")
        .then(response => {
          this.types = response.data;
          this.isLoading = false;
        })
        .catch(error => {
          this.$swal.fire({
            type: "error",
            title:
              "Error " +
              error.response.status +
              ": failed to fetch Vehicle types data!",
            text: error.response.data.message
          });
        });
    },
    newType() {
      axios
        .post("/site-api/admin/cars/brands/" + this.brand.id + "/types")
        .then(response => {
          this.$alert.fire({
            type: "success",
            text: response.data.message
          });
          this.fetchTypes();
        })
        .catch(error => {
          this.$swal.fire({
            type: "error",
            title:
              "Error " + error.response.status + ": failed to create new type!",
            text: error.response.data.message
          });
        });
    }
  }
};
</script>

<style scoped>
</style>
