<template>
  <div class="input-group" v-if="editMode">
    <input type="text" v-model="editedPrice" v-on:blur="onBlur" v-on:keyup.enter="onSubmit">
    <div class="input-group-append">
      <button
        class="btn btn-primary"
        v-on:focus="btnFocus = true"
        v-on:blur="btnFocus = false"
        v-on:click="onSubmit"
      >Save</button>
    </div>
    <div class="input-group-append">
      <button
        class="btn btn-outline-danger"
        v-on:focus="btnFocus = true"
        v-on:blur="btnFocus = false"
        v-on:click="onDelete"
      >X</button>
    </div>
  </div>
  <button v-else-if="!price" class="btn btn-primary btn-sm" v-on:click="editMode = true">Add</button>
  <span v-else v-on:dblclick="editMode = true">{{$currency.format(price)}}</span>
</template>

<script>
export default {
  props: {
    price: Number,
    year: Number,
    seriesId: Number
  },
  data() {
    return {
      editMode: false,
      editedPrice: this.price,
      btnFocus: false
    };
  },
  methods: {
    onBlur() {
      setTimeout(() => {
        if (!this.btnFocus) {
          this.editMode = false;
          this.editedPrice = this.price;
        }
      }, 10);
    },
    onSubmit() {
      if (this.editedPrice === this.price) return;
      axios
        .post("/site-api/admin/cars/series/" + this.seriesId + "/prices", {
          year: this.year,
          price: this.editedPrice
        })
        .then(response => {
          this.$alert.fire({
            type: "success",
            text: response.data.message
          });
          this.$emit("update:price", this.editedPrice);
          this.btnFocus = false;
          this.editMode = false;
        })
        .catch(error => {
          this.$swal.fire({
            type: "error",
            title:
              "Error " + error.response.status + ": failed to save change!",
            text: error.response.data.message
          });
        });
    },
    onDelete() {
      this.$swal
        .fire({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, delete it!",
          showLoaderOnConfirm: true,
          preConfirm: () => {
            return axios
              .delete(
                "/site-api/admin/cars/series/" + this.seriesId + "/prices",
                {
                  params: {
                    year: this.year
                  }
                }
              )
              .then(response => {
                if (response.status !== 200) {
                  throw new Error(response.statusText);
                }
                return response;
              })
              .catch(error => {
                this.$swal.showValidationMessage(`Request failed: ${error}`);
              });
          },
          allowOutsideClick: () => !this.$swal.isLoading()
        })
        .then(result => {
          if (result.value) {
            this.$swal.fire({
              title: "Deleted!",
              text: "Data has been deleted.",
              type: "success",
              onAfterClose: () => {
                this.price = "";
                this.$emit("update:price", null);
                this.btnFocus = false;
                this.editMode = false;
              }
            });
          }
        });
    }
  }
};
</script>

<style scoped>
</style>
