<template>
  <div class="card-text">
    <p class="mb-0 h5">
      <edit-text
        v-on:deleted="$emit('deleted')"
        :string.sync="seri.name"
        :url="'/site-api/admin/cars/series/'+seri.id"
      ></edit-text>
    </p>
    <table class="table table-bordered table-sm">
      <thead>
        <tr>
          <th>{{curYear}}</th>
          <th>{{curYear-1}}</th>
          <th>{{curYear-2}}</th>
          <th>{{curYear-3}}</th>
          <th>{{curYear-4}}</th>
          <th>{{curYear-5}}</th>
          <th>{{curYear-6}}</th>
          <th>{{curYear-7}}</th>
          <th>{{curYear-8}}</th>
          <th>{{curYear-9}}</th>
          <th>{{curYear-10}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <car-price :price.sync="seri.prices[curYear]" :year="curYear" :seriesId="seri.id"></car-price>
          </td>
          <td>
            <car-price :price.sync="seri.prices[curYear-1]" :year="curYear-1" :seriesId="seri.id"></car-price>
          </td>
          <td>
            <car-price :price.sync="seri.prices[curYear-2]" :year="curYear-2" :seriesId="seri.id"></car-price>
          </td>
          <td>
            <car-price :price.sync="seri.prices[curYear-3]" :year="curYear-3" :seriesId="seri.id"></car-price>
          </td>
          <td>
            <car-price :price.sync="seri.prices[curYear-4]" :year="curYear-4" :seriesId="seri.id"></car-price>
          </td>
          <td>
            <car-price :price.sync="seri.prices[curYear-5]" :year="curYear-5" :seriesId="seri.id"></car-price>
          </td>
          <td>
            <car-price :price.sync="seri.prices[curYear-6]" :year="curYear-6" :seriesId="seri.id"></car-price>
          </td>
          <td>
            <car-price :price.sync="seri.prices[curYear-7]" :year="curYear-7" :seriesId="seri.id"></car-price>
          </td>
          <td>
            <car-price :price.sync="seri.prices[curYear-8]" :year="curYear-8" :seriesId="seri.id"></car-price>
          </td>
          <td>
            <car-price :price.sync="seri.prices[curYear-9]" :year="curYear-9" :seriesId="seri.id"></car-price>
          </td>
          <td>
            <car-price :price.sync="seri.prices[curYear-10]" :year="curYear-10" :seriesId="seri.id"></car-price>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  props: {
    seri: Object
  },
  data() {
    return {
      curYear: this.$moment().year()
    };
  },
  methods: {}
};
</script>

<style scoped>
</style>
