<template>
  <div class="card-body">
    <h4 class="card-title">
      <div class="d-inline-block">
        <edit-text
          v-on:deleted="$emit('deleted')"
          :string.sync="type.name"
          :url="'/site-api/admin/cars/types/'+type.id"
        ></edit-text>
      </div>
      <button class="btn btn-link dropdown-toggle" v-on:click="toggle">show</button>
    </h4>
    <template v-if="show">
      <template v-if="isLoading">
        <div class="card-text">LOADING</div>
      </template>
      <car-series
        v-on:deleted="fetchSeries"
        v-else
        v-for="seri in series"
        :key="seri.id"
        :seri="seri"
      ></car-series>
      <div class="card-text">
        <button class="btn btn-outline-info" @click="newSeries">Add new series for {{type.name}}</button>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  props: {
    type: Object
  },
  data() {
    return {
      show: false,
      series: [],
      isLoading: false
    };
  },
  methods: {
    toggle() {
      this.show = !this.show;
      if (this.show && this.series.length === 0) this.fetchSeries();
    },
    fetchSeries() {
      this.isLoading = true;
      axios
        .get("/site-api/admin/cars/types/" + this.type.id + "/series")
        .then(response => {
          this.series = response.data;
          this.isLoading = false;
        })
        .catch(error => {
          this.$swal.fire({
            type: "error",
            title:
              "Error " +
              error.response.status +
              ": failed to fetch Vehicle Rates data!",
            text: error.response.data.message
          });
        });
    },
    newSeries() {
      axios
        .post("/site-api/admin/cars/types/" + this.type.id + "/series")
        .then(response => {
          this.$alert.fire({
            type: "success",
            text: response.data.message
          });
          this.fetchSeries();
        })
        .catch(error => {
          this.$swal.fire({
            type: "error",
            title:
              "Error " + error.response.status + ": failed to create new type!",
            text: error.response.data.message
          });
        });
    }
  }
};
</script>

<style scoped>
</style>
