<template>
  <div>
    <form action="#" v-on:submit.prevent="onSubmit">
      <div class="row">
        <div class="form-group row col-6 mx-0">
          <label :for="'fcCityName'+index" class="col-2 col-form-label">City Name:</label>
          <input
            type="text"
            :id="'fcCityName'+index"
            v-model="item.name"
            class="col-10"
            :class="isEdit?'form-control':'form-control-plaintext'"
            :readonly="!isEdit"
            required
          >
        </div>
        <div class="col-6 d-flex justify-content-end">
          <div v-if="isEdit">
            <button
              v-if="isCreateNew"
              class="btn btn-outline-danger"
              @click.prevent="$emit('remove',index)"
            >Remove</button>
            <button v-else class="btn btn-outline-danger" @click.prevent="onDelete">Delete</button>
            <input type="submit" class="btn btn-success">
          </div>
          <div v-else>
            <button class="btn btn-outline-primary" @click.prevent="isEdit = true">Edit</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group row col-6 mx-0">
          <label :for="'fcCityZoneCode'+index" class="col-2 col-form-label">Zone Code:</label>
          <select
            :id="'fcCityZoneCode'+index"
            v-model="item.zone_code"
            class="col-10"
            :class="isEdit?'form-control':'form-control-plaintext'"
            :disabled="!isEdit"
            required
          >
            <option value disabled>Choose..</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object
    },
    index: {
      type: Number
    },
    provinceId: {
      type: Number
    }
  },
  data() {
    return {
      isCreateNew: false,
      isEdit: false
    };
  },
  created() {
    if (!this.item.hasOwnProperty("id")) {
      this.isCreateNew = true;
      this.isEdit = true;
    }
  },
  methods: {
    onSubmit() {
      this.$swal.queue([
        {
          title: "Saving..",
          confirmButtonText: "Back",
          allowOutsideClick: false,
          onBeforeOpen: () => {
            this.$swal.showLoading();
            axios
              .post(
                this.isCreateNew
                  ? "/site-api/admin/properties/provinces/" +
                      this.provinceId +
                      "/cities"
                  : "/site-api/admin/properties/provinces/" +
                      this.provinceId +
                      "/cities/" +
                      this.item.id,
                this.item
              )
              .then(response => {
                if (response.status !== 200)
                  throw new Error(response.status.text);
                this.$swal.hideLoading();
                this.$swal.clickConfirm();
                this.isEdit = false;
                this.isCreateNew = false;
                this.$swal.insertQueueStep({
                  type: "success",
                  title: "Data Saved Success!",
                  confirmButtonText: "Confirm",
                  onAfterClose: () => {
                    this.$emit("changed");
                  }
                });
              })
              .catch(error => {
                this.$swal.showValidationMessage("Fail to save data: " + error);
                this.$swal.hideLoading();
              });
          }
        }
      ]);
    },
    onDelete() {
      this.$swal
        .fire({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, delete it!",
          showLoaderOnConfirm: true,
          preConfirm: () => {
            return axios
              .delete(
                "/site-api/admin/properties/provinces/" +
                  this.insuranceId +
                  "/cities/" +
                  this.item.id +
                  "/delete"
              )
              .then(response => {
                if (response.status !== 200) {
                  throw new Error(response.statusText);
                }
                return response;
              })
              .catch(error => {
                this.$swal.showValidationMessage(`Request failed: ${error}`);
              });
          },
          allowOutsideClick: () => !this.$swal.isLoading()
        })
        .then(result => {
          if (result.value) {
            this.$swal.fire({
              title: "Deleted!",
              text: "Data has been deleted.",
              type: "success",
              onAfterClose: () => {
                this.$emit("changed");
              }
            });
          }
        });
    }
  }
};
</script>

<style scoped>
</style>
