<template>
    <div>
        <form action="#" v-on:submit.prevent="onSubmit">
            <div class="row">
                <div class="form-group row col-6 mx-0">
                    <label :for="'fcPackageName'+index" class="col-2 col-form-label">Name :</label>
                    <input type="text" :id="'fcPackageName'+index" v-model="item.name" class="col-10" :class="isEdit?'form-control':'form-control-plaintext'" :readonly="!isEdit" required>
                </div>
                <div class="col-6 d-flex justify-content-end">
                    <div v-if="isEdit">
                        <button v-if="isCreateNew" class="btn btn-outline-danger" @click.prevent="$emit('remove',index)">Remove</button>
                        <button v-else class="btn btn-outline-danger" @click.prevent="onDelete">
                            Delete
                        </button>
                        <input type="submit" class="btn btn-success">
                    </div>
                    <div v-else>
                        <button class="btn btn-outline-primary" @click.prevent="isEdit = true">
                            Edit
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group row col-6 mx-0">
                    <label :for="'fcPackageType'+index" class="col-2 col-form-label">Type :</label>
                    <select :id="'fcPackageType'+index" v-model="item.type" class="col-10" :class="isEdit?'form-control':'form-control-plaintext'" :disabled="!isEdit" required>
                        <option value="" disabled>Choose..</option>
                        <option value="individual">Individual</option>
                        <option value="duo">Duo</option>
                        <option value="family">Family</option>
                    </select>
                </div>
                <div class="form-group row col-6 mx-0">
                    <label :for="'fcPackageRegion'+index" class="col-2 col-form-label">Region :</label>
                    <select :id="'fcPackageRegion'+index" v-model="item.region" class="col-10" :class="isEdit?'form-control':'form-control-plaintext'" :disabled="!isEdit" required>
                        <option value="" disabled>Choose..</option>
                        <option value="domestic">Domestic</option>
                        <option value="international">International</option>
                    </select>
                </div>
            </div>
        </form>

        <p v-if="isCreateNew" class="text-muted">you can manage prices after saving this package</p>
        <template v-else>
            <h5 class="font-weight-bold">Prices</h5>
            <div class="row mx-0">
                <div class="col-2 border border-info pb-2" v-for="(rate,idx) in item.rates">
                    <travel-rate :rate="rate" :index="idx" :packageId="item.id" v-on:changed="$emit('changed')" v-on:remove="onRemove"></travel-rate>
                </div>
                <button class="col-2 btn btn-outline-info" @click="addPrice">Add Price</button>
            </div>
        </template>
    </div>

</template>

<script>
    import TravelRate from './TravelRate'
    export default {
        components:{
            TravelRate,
        },
        props:{
            item: {
                type: Object,
            },
            index: {
                type: Number,
            },
            insuranceId: {
                type: Number
            }
        },
        data(){
            return{
                isCreateNew: false,
                isEdit: false,
            }
        },
        created(){
            if (!this.item.hasOwnProperty('id')){
                this.isCreateNew = true;
                this.isEdit = true;
            }
        },
        methods:{
            addPrice(){
                if (!this.item.hasOwnProperty('rates'))
                    this.$set(this.item,'rates',[]);
                this.item.rates.push({
                    duration_from: '',
                    duration_to: '',
                    price: '',
                })
            },
            onSubmit(){
                this.$swal.queue([
                    {
                        title: "Saving..",
                        confirmButtonText: "Back",
                        allowOutsideClick: false,
                        onBeforeOpen: () => {
                            this.$swal.showLoading();
                            axios
                                .post(
                                    this.isCreateNew
                                        ? "/site-api/admin/travel-insurances/" + this.insuranceId + '/packages'
                                        : "/site-api/admin/travel-insurances/" + this.insuranceId + '/packages/' + this.item.id,
                                    this.item
                                )
                                .then(response => {
                                    if (response.status !== 200)
                                        throw new Error(response.status.text);
                                    this.$swal.hideLoading();
                                    this.$swal.clickConfirm();
                                    this.isEdit = false;
                                    this.isCreateNew = false;
                                    this.$swal.insertQueueStep({
                                        type: "success",
                                        title: "Data Saved Success!",
                                        confirmButtonText: "Confirm",
                                        onAfterClose: () => {this.$emit('changed')}
                                    });
                                })
                                .catch(error => {
                                    this.$swal.showValidationMessage("Fail to save data: " + error);
                                    this.$swal.hideLoading();
                                });
                        }
                    }
                ]);
            },
            onDelete() {
                this.$swal
                    .fire({
                        title: "Are you sure?",
                        text: "You won't be able to revert this!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "Yes, delete it!",
                        showLoaderOnConfirm: true,
                        preConfirm: () => {
                            return axios
                                .delete(
                                    "/site-api/admin/travel-insurances/" + this.insuranceId + '/packages/' + this.item.id + "/delete"
                                )
                                .then(response => {
                                    if (response.status !== 200) {
                                        throw new Error(response.statusText);
                                    }
                                    return response;
                                })
                                .catch(error => {
                                    this.$swal.showValidationMessage(`Request failed: ${error}`);
                                });
                        },
                        allowOutsideClick: () => !this.$swal.isLoading()
                    })
                    .then(result => {
                        if (result.value) {
                            this.$swal.fire({
                                title: "Deleted!",
                                text: "Data has been deleted.",
                                type: "success",
                                onAfterClose: () => {
                                    this.$emit('changed');
                                }
                            });
                        }
                    });
            },
            onRemove(index){
                this.item.rates.splice(index,1);
            }
        }
    }
</script>

<style scoped>

</style>