<template>
    <div>
        <form action="#" v-on:submit.prevent="onSubmit">
            <div class="form-row py-1">
                <div class="form-group col-6">
                    <label :for="'fcPriceFrom'+packageId+index">From :</label>
                    <input
                            type="number"
                            :id="'fcPriceFrom'+packageId+index"
                            v-model.number="rate.duration_from"
                            :class="isEdit?'form-control':'form-control-plaintext'"
                            :readonly="!isEdit"
                            required
                    >
                </div>
                <div class="form-group col-6">
                    <label :for="'fcPriceTo'+packageId+index">To :</label>
                    <input type="number" :id="'fcPriceTo'+packageId+index" v-model.number="rate.duration_to" :class="isEdit?'form-control':'form-control-plaintext'" :readonly="!isEdit" required>
                </div>
            </div>
            <div class="form-group">
                <label :for="'fcPriceValue'+packageId+index">Price :</label>
                <div v-if="isEdit" class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Rp</div>
                    </div>
                    <input type="number" :id="'fcPriceValue'+packageId+index" v-model.number="rate.price" class="form-control" required>
                </div>
                <div v-else>
                    {{$currency.format(rate.price)}}
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <div v-if="isEdit">
                    <button v-if="isCreateNew" class="btn btn-outline-danger" @click.prevent="$emit('remove',index)">Remove</button>
                    <button v-else class="btn btn-outline-danger" @click.prevent="onDelete">
                        Delete
                    </button>
                    <input type="submit" class="btn btn-success">
                </div>
                <div v-else>
                    <button class="btn btn-outline-primary" @click.prevent="isEdit = true">
                        Edit
                    </button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    export default {
        props:{
            rate: {
                type: Object,
            },
            index: {
                type: Number,
            },
            packageId: {
                type: Number
            }
        },
        data(){
            return{
                isCreateNew: false,
                isEdit: false,
            }
        },
        created(){
            if (!this.rate.hasOwnProperty('id')){
                this.isCreateNew = true;
                this.isEdit = true;
            }
        },
        methods:{
            onSubmit(){
                const vm = this;
                this.$swal.queue([
                    {
                        title: "Saving..",
                        confirmButtonText: "Back",
                        allowOutsideClick: false,
                        onBeforeOpen: () => {
                            this.$swal.showLoading();
                            axios
                                .post(
                                    this.isCreateNew
                                        ? "/site-api/admin/travel-insurances/packages/" + this.packageId + '/rates'
                                        : "/site-api/admin/travel-insurances/packages/" + this.packageId + '/rates/' + this.rate.id,
                                    this.rate
                                )
                                .then(response => {
                                    if (response.status !== 200)
                                        throw new Error(response.status.text);
                                    this.$swal.hideLoading();
                                    this.$swal.clickConfirm();
                                    this.isEdit = false;
                                    this.isCreateNew = false;
                                    this.$swal.insertQueueStep({
                                        type: "success",
                                        title: "Data Saved Success!",
                                        confirmButtonText: "Confirm",
                                        onAfterClose: () => {vm.$emit('changed')}
                                    });
                                })
                                .catch(error => {
                                    this.$swal.showValidationMessage("Fail to save data: " + error);
                                    this.$swal.hideLoading();
                                });
                        }
                    }
                ]);
            },
            onDelete() {
                this.$swal
                    .fire({
                        title: "Are you sure?",
                        text: "You won't be able to revert this!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "Yes, delete it!",
                        showLoaderOnConfirm: true,
                        preConfirm: () => {
                            return axios
                                .delete(
                                    "/site-api/admin/travel-insurances/packages/" + this.packageId + '/rates/' + this.rate.id + "/delete"
                                )
                                .then(response => {
                                    if (response.status !== 200) {
                                        throw new Error(response.statusText);
                                    }
                                    return response;
                                })
                                .catch(error => {
                                    this.$swal.showValidationMessage(`Request failed: ${error}`);
                                });
                        },
                        allowOutsideClick: () => !this.$swal.isLoading()
                    })
                    .then(result => {
                        if (result.value) {
                            this.$swal.fire({
                                title: "Deleted!",
                                text: "Data has been deleted.",
                                type: "success",
                                onAfterClose: () => {
                                    this.$emit('changed');
                                }
                            });
                        }
                    });
            }
        }
    }
</script>

<style scoped>

</style>