<template>
    <div class="adm-table">
        <div class="d-flex justify-content-between form-inline mb-3">
            <div class="form-group">
                Show
                <span class="mx-2">
                    <select v-model="perPage" class="form-control">
                        <option>10</option>
                        <option>25</option>
                        <option>50</option>
                        <option>100</option>
                    </select>
                </span>
                entries
            </div>
            <div class="form-group">
                Search:
                <input type="text" v-model="searchInput" class="form-control mx-2">
            </div>
        </div>

        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th v-for="(item, index) in tableHeader" :class="item.class" v-on:click="onClickSort(index)">
                    {{item.content}}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr v-if="tableItems.length === 0">
                <td :colspan="tableHeader.length" class="text-center">- Empty -</td>
            </tr>
            <tr v-for="item in paginatedItem">
                <template v-for="i in item">
                    <td v-if="i.component">
                        <component v-if="i.component" v-bind:is="i.component"></component>
                    </td>
                    <td v-else v-html="i.html"></td>
                </template>
            </tr>
            </tbody>
        </table>
        <div>Showing item {{paginatedItem.length ? curPageFrom + 1 : 0}} - {{paginatedItem.length * page}} of {{sortedItems.length}}</div>

        <!--pagination nav-->
        <nav aria-label="Page navigation" class="d-flex justify-content-between align-items-center">
            <button v-bind:class="{ invisible: page === 1 }" @click="page--" class="btn btn-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span>Previous</span>
            </button>
            <ul class="pagination m-0">
                <div v-if=" page - navPageDivider > 1" class="d-flex flex-row">
                    <li class="page-item"><a class="page-link" href="#" @click="page = 1">1</a></li>
                    <li class="page-item" v-if="page - navPageDivider === 3"><a class="page-link" href="#"><span aria-hidden="true">2</span></a></li>
                    <li class="page-item disabled" v-if="!(page + navPageDivider > pages.length && pages.length - navPageLength < 2) && page - navPageDivider > 3"><a class="page-link px-1" href="#"><span aria-hidden="true">&hellip;</span></a></li>
                </div>
                <li class="page-item no-outline" v-bind:class="[(pageNumber === page) ? 'active' : '']" v-for="pageNumber in pages.slice(page <= navPageDivider + 1 ? 0 : (page + navPageDivider > pages.length ? (pages.length - navPageLength < 0 ? 1 : pages.length - navPageLength) : page - (navPageDivider + 1)), page - navPageDivider < 0 ? (navPageLength >= pages.length ? pages.length-1 : navPageLength) : page + navPageDivider)" ><a class="page-link no-outline" href="#" @click="page = pageNumber">{{pageNumber}}</a></li>
                <div v-if="page + navPageDivider < pages.length" class="d-flex flex-row">
                    <li class="page-item disabled" v-if="!(page <= navPageDivider && navPageLength > pages.length - 2) && page + navPageDivider < pages.length - 2"><a class="page-link px-1" href="#"><span aria-hidden="true">&hellip;</span></a></li>
                    <li class="page-item" v-if="page + navPageDivider === pages.length - 2"><a class="page-link" href="#"><span aria-hidden="true">{{pages.length-1}}</span></a></li>
                    <li class="page-item"><a class="page-link" href="#" @click="page = pages.length">{{pages.length}}</a></li>
                </div>
            </ul>
            <button v-bind:class="{ invisible: page === pages.length || pages.length === 0}" @click="page++" class="btn btn-link" aria-label="Next">
                <span>Next</span>
                <span aria-hidden="true">&raquo;</span>
            </button>
        </nav>

    </div>
</template>

<script>
    export default {
        props:{
            tableData: Object,
        },
        data(){
            return {
                perPage: 10,
                searchInput: '',
                sortBy: null,
                sortDir: 'asc',
                page : 1,
                pages : [],
                navPageLength : 5,
                navPageDivider : 2,
                curPageFrom : 0,
                curPageTo : 0,
            }
        },
        methods:{
            onClickSort($index){
                if (this.tableHeader[$index].sortable){
                    if (this.sortBy === $index){
                        this.sortDir = this.sortDir === 'asc' ? 'desc' : 'asc';
                    } else {
                        this.sortBy = $index;
                        this.sortDir = 'asc';
                    }
                }
            },
            setPages(){
                this.pages = [];
                let numberOfPages = Math.ceil(this.sortedItems.length / this.perPage);
                for (let index = 1; index <= numberOfPages; index++){
                    this.pages.push(index);
                }
            },
            paginate(){
                this.curPageTo = (this.page * this.perPage);
                this.curPageFrom = (this.curPageTo - this.perPage);
                return this.sortedItems.slice(this.curPageFrom ,this.curPageTo);
            },
        },
        watch:{
            sortedItems(){
                this.setPages();
            },
            perPage(){
                this.setPages();
            },
            searchInput(){
                this.page = 1;
                this.setPages()
            }
        },
        computed: {
            tableHeader: function(){
                let i = 0;
                let arr = [];

                while (this.tableData.header[i]){
                    arr[i] = {};
                    arr[i].content = this.tableData.header[i].content;
                    arr[i].sortable = this.tableData.header[i].sortable || false;
                    if (arr[i].sortable){
                        if (this.sortBy === i)
                        {
                            arr[i].class = this.tableData.header[i].class ? this.tableData.header[i].class : '' + ' active sorting_' + this.sortDir;
                        }
                        else
                            arr[i].class = this.tableData.header[i].class ? this.tableData.header[i].class : '' + ' sorting';
                    }
                    i++;
                }
                return arr;
            },
            tableItems: function(){
                let i = 0;
                let j= 0;
                while (this.tableData.items[i]){
                    j = 0;
                    while (this.tableData.items[i][j]) {
                        if (!this.tableData.items[i][j].component && !this.tableData.items[i][j].html)
                            this.tableData.items[i][j].html = this.tableData.items[i][j].text || '<p class=\"text-center text-muted\">- empty -</p>';
                        if (this.sortBy === null && this.tableData.items[i][j].text && this.tableData.header[j].sortable)
                            this.sortBy = j;
                        j++;
                    }
                    i++
                }
                return this.tableData.items;
            },
            filteredItems: function(){
                return this.tableItems.filter(item => {
                    let found = false;
                    let i = 0;
                    while (item[i]){
                        if (item[i].text && item[i].text.toLowerCase().includes(this.searchInput.toLowerCase())) found = true;
                        i++;
                    }
                    return found;
                })            },
            sortedItems: function () {
                return _.orderBy(this.filteredItems,item => {
                    return item[this.sortBy].text;
                }, this.sortDir);
            },
            paginatedItem: function () {
                return this.paginate();
            }
        }
    }
</script>

<style scoped>

</style>