<template>
  <div class="input-group" v-if="editMode">
    <input
      type="text"
      class="form-control"
      v-model="editedText"
      v-on:blur="onBlur"
      v-on:keyup.enter="onSubmit"
    >
    <div class="input-group-append">
      <button
        class="btn btn-outline-primary"
        v-on:focus="btnFocus = true"
        v-on:blur="btnFocus = false"
        v-on:click="onSubmit"
      >Save</button>
    </div>
    <div class="input-group-append">
      <button
        class="btn btn-outline-danger"
        v-on:focus="btnFocus = true"
        v-on:blur="btnFocus = false"
        v-on:click="onDelete"
      >X</button>
    </div>
  </div>
  <span v-else v-on:dblclick="editMode = true">{{string}}</span>
</template>

<script>
export default {
  props: {
    string: String,
    url: String,
    keyName: {
      type: String,
      default: "name"
    }
  },
  data() {
    return {
      editMode: false,
      editedText: this.string,
      btnFocus: false
    };
  },
  methods: {
    onBlur() {
      setTimeout(() => {
        if (!this.btnFocus) {
          this.editMode = false;
          this.editedText = this.string;
        }
      }, 10);
    },
    onSubmit() {
      if (this.editedText === this.string) return;
      axios
        .post(this.url, {
          [this.keyName]: this.editedText
        })
        .then(response => {
          this.$alert.fire({
            type: "success",
            text: response.data.message
          });
          this.$emit("update:string", this.editedText);
          this.btnFocus = false;
          this.editMode = false;
        })
        .catch(error => {
          this.$swal.fire({
            type: "error",
            title:
              "Error " + error.response.status + ": failed to save change!",
            text: error.response.data.message
          });
        });
    },
    onDelete() {
      this.$swal
        .fire({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, delete it!",
          showLoaderOnConfirm: true,
          preConfirm: () => {
            return axios
              .delete(this.url)
              .then(response => {
                if (response.status !== 200) {
                  throw new Error(response.statusText);
                }
                return response;
              })
              .catch(error => {
                this.$swal.showValidationMessage(`Request failed: ${error}`);
              });
          },
          allowOutsideClick: () => !this.$swal.isLoading()
        })
        .then(result => {
          if (result.value) {
            this.$swal.fire({
              title: "Deleted!",
              text: "Data has been deleted.",
              type: "success",
              onAfterClose: () => {
                this.btnFocus = false;
                this.editMode = false;
                this.$emit("deleted");
              }
            });
          }
        });
    }
  }
};
</script>

<style scoped>
</style>
