<template>
    <div class="header-nav">
        <div class="nav-brand">
            <a href="#">
                <!--<img src="/media/img/logo.svg" alt="Easurance" height="40">-->
                Easurance
            </a>
        </div>
        <div class="nav">
            <div class="nav-item dropdown mx-2">
                <a href="#" class="nav-link dropdown-toggle" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login as: {{user.name}}</a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a href="/logout" class="dropdown-item">Logout</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            user:{
                type: Object,
                default: function () {
                    return { name: 'default' }
                }
            }
        },
    }
</script>

<style scoped>

</style>