<template>
    <div class="side-nav">
        <div class="nav flex-column nav-pills">
            <div class="nav-item">
                <a href="#submenu1" data-toggle="collapse" class="nav-link dropdown-toggle">Car Insurance</a>
                <div class="collapse" id="submenu1">
                    <router-link to="/car-insurance" href="/car-insurance" class="nav-link submenu-item">Insurance Company</router-link>
                    <router-link to="/car-benefit" href="/car-benefit" class="nav-link submenu-item">Benefits</router-link>
                    <router-link to="/car-workshop" href="/car-workshop" class="nav-link submenu-item">Workshops</router-link>
                    <router-link to="/cars" href="/cars" class="nav-link submenu-item">Cars Data</router-link>
                    <router-link to="/car-plate" href="/car-plate" class="nav-link submenu-item">Plates Zoning</router-link>
                </div>
            </div>
            <div class="nav-item">
                <a href="#submenu2" data-toggle="collapse" class="nav-link dropdown-toggle">Property Insurance</a>
                <div class="collapse" id="submenu2">
                    <router-link to="/property-insurance" href="/property-insurance" class="nav-link submenu-item">Insurance Company</router-link>
                    <router-link to="/property-benefit" href="/property-benefit" class="nav-link submenu-item">Benefits</router-link>
                    <router-link to="/property-region" href="/property-region" class="nav-link submenu-item">Region Zoning</router-link>
                </div>
            </div>
            <div class="nav-item">
                <a href="#submenu3" data-toggle="collapse" class="nav-link dropdown-toggle">Travel Insurance</a>
                <div class="collapse" id="submenu3">
                    <router-link to="/travel-insurance" href="/travel-insurance" class="nav-link submenu-item">Insurance Company</router-link>
                    <router-link to="/travel-benefit" href="/travel-benefit" class="nav-link submenu-item">Benefits</router-link>
                    <router-link to="/travel-destination" href="/travel-destination" class="nav-link submenu-item">Travel Destination</router-link>
                </div>
            </div>
            <div class="nav-item">
                <router-link to="/article" href="/article" class="nav-link">Manage Article</router-link>
            </div>
            <div class="nav-item">
                <router-link to="/faq" href="/faq" class="nav-link">Manage FAQ</router-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SideNav"
    }
</script>

<style scoped>

</style>