<template>
  <div class="content">
    <div class="content-title">Articles - {{isEdit?'Edit':'Create'}}</div>
    <div class="content-body">
      <div class="d-flex mb-4">
        <a class="btn btn-outline-secondary" @click="$router.go(-1)">Back</a>
      </div>
      <form action="#" v-on:submit.prevent="onSubmit">
        <div class="row">
          <div class="col-8">
            <div class="form-group">
              <label for="fcTitle">Title</label>
              <input type="text" class="form-control" id="fcTitle" v-model="fTitle" required>
            </div>
          </div>

          <div class="form-group col-4">
            <label for="fcThumbnail">Thumbnail</label>
            <img :src="thumbnail" class="img-fluid d-block">
            <input
              type="file"
              class="form-control-file border"
              id="fcThumbnail"
              v-on:change="onFileChange($event)"
              :required="!isEdit"
            >
          </div>
        </div>

        <div class="form-group">
          <label for="fcContent">Content</label>
          <div v-if="isLoading && isEdit">Fetching Article Content.........</div>
          <summernote v-else :model.sync="fContent" id="fcContent"></summernote>
        </div>

        <div class="d-flex mb-4 justify-content-between">
          <input type="submit" class="btn btn-primary">
          <a class="btn btn-outline-danger" @click="onDelete" v-if="isEdit">Delete</a>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import summernote from "../layouts/Summernote";
export default {
  components: {
    summernote
  },
  props: {
    isEdit: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      isLoading: true,
      fTitle: "",
      thumbnail: "",
      fThumbnail: "",
      fContent: "",
      dataId: this.$route.params.id
    };
  },
  methods: {
    onFileChange(e) {
      let files = e.target.files || e.dataTransfer.files;
      if (!files.length) {
        console.log("no file found!");
        return;
      }
      let imageFile = files[0];
      if (!imageFile.type.match("image.*")) {
        e.target.value = "";
        alert("Please select image file");
        return;
      }
      if (imageFile.size > 2000000) {
        e.target.value = "";
        alert("Please select image under 2MB");
        return;
      }
      this.fThumbnail = imageFile;
      let reader = new FileReader();
      reader.onload = e => {
        this.thumbnail = e.target.result;
      };
      reader.readAsDataURL(imageFile);
    },
    onSubmit() {
      let data = {
        title: this.fTitle,
        content: this.fContent
      };
      if (this.fThumbnail) data.thumbnail = this.thumbnail;

      this.$swal.queue([
        {
          title: "Saving..",
          confirmButtonText: "Back",
          allowOutsideClick: false,
          onBeforeOpen: () => {
            this.$swal.showLoading();
            axios
              .post(
                this.isEdit
                  ? "/site-api/admin/articles/" + this.dataId
                  : "/site-api/admin/articles",
                data
              )
              .then(response => {
                if (response.status !== 200)
                  throw new Error(response.status.text);
                this.$swal.hideLoading();
                this.$swal.clickConfirm();
                this.$swal.insertQueueStep({
                  type: "success",
                  title: "Data Saved Success!",
                  confirmButtonText: "Confirm",
                  onAfterClose: () => {
                    this.$router.go(-1);
                  }
                });
              })
              .catch(error => {
                this.$swal.showValidationMessage("Fail to save data: " + error);
                this.$swal.hideLoading();
              });
          }
        }
      ]);
    },
    fetchData() {
      axios
        .get("/site-api/admin/articles/" + this.dataId)
        .then(response => {
          this.fTitle = response.data.title;
          this.thumbnail = response.data.thumbnail;
          this.fContent = response.data.content;
          this.isLoading = false;
        })
        .catch(error => {
          this.$swal.fire({
            type: "error",
            title: "Error " + error.response.status + ": failed to fetch data!",
            text: error.response.data.message
          });
        });
    },
    onDelete() {
      this.$swal
        .fire({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, delete it!",
          showLoaderOnConfirm: true,
          preConfirm: () => {
            return axios
              .delete("/site-api/admin/articles/" + this.dataId + "/delete")
              .then(response => {
                if (response.status !== 200) {
                  throw new Error(response.statusText);
                }
                return response;
              })
              .catch(error => {
                this.$swal.showValidationMessage(`Request failed: ${error}`);
              });
          },
          allowOutsideClick: () => !this.$swal.isLoading()
        })
        .then(result => {
          if (result.value) {
            this.$swal.fire({
              title: "Deleted!",
              text: "Data has been deleted.",
              type: "success",
              onAfterClose: () => {
                this.$router.go(-1);
              }
            });
          }
        });
    }
  },
  created() {
    if (this.isEdit) this.fetchData();
  }
};
</script>

<style scoped>
</style>
