<template>
  <div class="content">
    <div class="content-title">Car Insurance Companies - {{isEdit?'Edit':'Create'}}</div>
    <div class="content-body">
      <div class="d-flex mb-4">
        <a class="btn btn-outline-secondary" @click="$router.go(-1)">Back</a>
      </div>
      <form action="#" v-on:submit.prevent="onSubmit">
        <div class="row">
          <div class="col-8">
            <div class="form-group">
              <label for="fcName">Company Name</label>
              <input type="text" class="form-control" id="fcName" v-model="fName" required />
            </div>
            <div class="form-group">
              <label for="fcAdmin">Admin Fee</label>
              <input
                id="fcAdmin"
                class="form-control"
                type="number"
                min="0"
                v-model="fAdmin"
                required
              />
            </div>
          </div>

          <div class="form-group col-4">
            <label for="fcLogo">Logo</label>
            <img :src="logo" class="img-fluid d-block" />
            <input
              type="file"
              class="form-control-file border"
              id="fcLogo"
              v-on:change="onFileChange($event)"
              :required="!isEdit"
            />
          </div>
        </div>

        <h3>Rates</h3>
        <hr />
        <p class="h4">Comprehensive Coverage</p>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Category</th>
              <th>Car Price Range</th>
              <th>Region 1</th>
              <th>Region 2</th>
              <th>Region 3</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Category 1</td>
              <td>0 to Rp125.000.000</td>
              <td>
                <input
                  type="text"
                  placeholder="0.00"
                  class="form-control"
                  v-model="fRates['comp']['1']['1']"
                  required
                />
              </td>
              <td>
                <input
                  type="text"
                  placeholder="0.00"
                  class="form-control"
                  v-model="fRates['comp']['2']['1']"
                  required
                />
              </td>
              <td>
                <input
                  type="text"
                  placeholder="0.00"
                  class="form-control"
                  v-model="fRates['comp']['3']['1']"
                  required
                />
              </td>
            </tr>
            <tr>
              <td>Category 2</td>
              <td>>Rp125.000.000 to Rp200.000.000</td>
              <td>
                <input
                  type="text"
                  placeholder="0.00"
                  class="form-control"
                  v-model="fRates['comp']['1']['2']"
                  required
                />
              </td>
              <td>
                <input
                  type="text"
                  placeholder="0.00"
                  class="form-control"
                  v-model="fRates['comp']['2']['2']"
                  required
                />
              </td>
              <td>
                <input
                  type="text"
                  placeholder="0.00"
                  class="form-control"
                  v-model="fRates['comp']['3']['2']"
                  required
                />
              </td>
            </tr>
            <tr>
              <td>Category 3</td>
              <td>>Rp200.000.000 to Rp400.000.000</td>
              <td>
                <input
                  type="text"
                  placeholder="0.00"
                  class="form-control"
                  v-model="fRates['comp']['1']['3']"
                  required
                />
              </td>
              <td>
                <input
                  type="text"
                  placeholder="0.00"
                  class="form-control"
                  v-model="fRates['comp']['2']['3']"
                  required
                />
              </td>
              <td>
                <input
                  type="text"
                  placeholder="0.00"
                  class="form-control"
                  v-model="fRates['comp']['3']['3']"
                  required
                />
              </td>
            </tr>
            <tr>
              <td>Category 4</td>
              <td>>Rp400.000.000 to Rp800.000.000</td>
              <td>
                <input
                  type="text"
                  placeholder="0.00"
                  class="form-control"
                  v-model="fRates['comp']['1']['4']"
                  required
                />
              </td>
              <td>
                <input
                  type="text"
                  placeholder="0.00"
                  class="form-control"
                  v-model="fRates['comp']['2']['4']"
                  required
                />
              </td>
              <td>
                <input
                  type="text"
                  placeholder="0.00"
                  class="form-control"
                  v-model="fRates['comp']['3']['4']"
                  required
                />
              </td>
            </tr>
            <tr>
              <td>Category 5</td>
              <td>>Rp800.000.000</td>
              <td>
                <input
                  type="text"
                  placeholder="0.00"
                  class="form-control"
                  v-model="fRates['comp']['1']['5']"
                  required
                />
              </td>
              <td>
                <input
                  type="text"
                  placeholder="0.00"
                  class="form-control"
                  v-model="fRates['comp']['2']['5']"
                  required
                />
              </td>
              <td>
                <input
                  type="text"
                  placeholder="0.00"
                  class="form-control"
                  v-model="fRates['comp']['3']['5']"
                  required
                />
              </td>
            </tr>
          </tbody>
        </table>
        <p class="h4">Total Loss Only Coverage</p>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Category</th>
              <th>Car Price Range</th>
              <th>Region 1</th>
              <th>Region 2</th>
              <th>Region 3</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Category 1</td>
              <td>0 to Rp125.000.000</td>
              <td>
                <input
                  type="text"
                  placeholder="0.00"
                  class="form-control"
                  v-model="fRates['tlo']['1']['1']"
                  required
                />
              </td>
              <td>
                <input
                  type="text"
                  placeholder="0.00"
                  class="form-control"
                  v-model="fRates['tlo']['2']['1']"
                  required
                />
              </td>
              <td>
                <input
                  type="text"
                  placeholder="0.00"
                  class="form-control"
                  v-model="fRates['tlo']['3']['1']"
                  required
                />
              </td>
            </tr>
            <tr>
              <td>Category 2</td>
              <td>>Rp125.000.000 to Rp200.000.000</td>
              <td>
                <input
                  type="text"
                  placeholder="0.00"
                  class="form-control"
                  v-model="fRates['tlo']['1']['2']"
                  required
                />
              </td>
              <td>
                <input
                  type="text"
                  placeholder="0.00"
                  class="form-control"
                  v-model="fRates['tlo']['2']['2']"
                  required
                />
              </td>
              <td>
                <input
                  type="text"
                  placeholder="0.00"
                  class="form-control"
                  v-model="fRates['tlo']['3']['2']"
                  required
                />
              </td>
            </tr>
            <tr>
              <td>Category 3</td>
              <td>>Rp200.000.000 to Rp400.000.000</td>
              <td>
                <input
                  type="text"
                  placeholder="0.00"
                  class="form-control"
                  v-model="fRates['tlo']['1']['3']"
                  required
                />
              </td>
              <td>
                <input
                  type="text"
                  placeholder="0.00"
                  class="form-control"
                  v-model="fRates['tlo']['2']['3']"
                  required
                />
              </td>
              <td>
                <input
                  type="text"
                  placeholder="0.00"
                  class="form-control"
                  v-model="fRates['tlo']['3']['3']"
                  required
                />
              </td>
            </tr>
            <tr>
              <td>Category 4</td>
              <td>>Rp400.000.000 to Rp800.000.000</td>
              <td>
                <input
                  type="text"
                  placeholder="0.00"
                  class="form-control"
                  v-model="fRates['tlo']['1']['4']"
                  required
                />
              </td>
              <td>
                <input
                  type="text"
                  placeholder="0.00"
                  class="form-control"
                  v-model="fRates['tlo']['2']['4']"
                  required
                />
              </td>
              <td>
                <input
                  type="text"
                  placeholder="0.00"
                  class="form-control"
                  v-model="fRates['tlo']['3']['4']"
                  required
                />
              </td>
            </tr>
            <tr>
              <td>Category 5</td>
              <td>>Rp800.000.000</td>
              <td>
                <input
                  type="text"
                  placeholder="0.00"
                  class="form-control"
                  v-model="fRates['tlo']['1']['5']"
                  required
                />
              </td>
              <td>
                <input
                  type="text"
                  placeholder="0.00"
                  class="form-control"
                  v-model="fRates['tlo']['2']['5']"
                  required
                />
              </td>
              <td>
                <input
                  type="text"
                  placeholder="0.00"
                  class="form-control"
                  v-model="fRates['tlo']['3']['5']"
                  required
                />
              </td>
            </tr>
          </tbody>
        </table>
        <p class="h4">Expansion</p>
        <div class="row">
          <div class="form-group col-6 row">
            <label for="fcTsfwdC" class="col-3 col-form-label">TSFWD COMP</label>
            <div class="col-9">
              <input
                type="text"
                id="fcTsfwdC"
                class="form-control"
                placeholder="0.00"
                v-model="fRatesAdd.tsfwd_comp"
                required
              />
            </div>
          </div>
          <div class="form-group col-6 row">
            <label for="fcTsfwdT" class="col-3 col-form-label">TSFWD TLO</label>
            <div class="col-9">
              <input
                type="text"
                id="fcTsfwdT"
                class="form-control"
                placeholder="0.00"
                v-model="fRatesAdd.tsfwd_tlo"
                required
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6 row">
            <label for="fcEqvetC" class="col-3 col-form-label">EQVET COMP</label>
            <div class="col-9">
              <input
                type="text"
                id="fcEqvetC"
                class="form-control"
                placeholder="0.00"
                v-model="fRatesAdd.eqvet_comp"
                required
              />
            </div>
          </div>
          <div class="form-group col-6 row">
            <label for="fcEqvetT" class="col-3 col-form-label">EQVET TLO</label>
            <div class="col-9">
              <input
                type="text"
                id="fcEqvetT"
                class="form-control"
                placeholder="0.00"
                v-model="fRatesAdd.eqvet_tlo"
                required
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6 row">
            <label for="fcSrccC" class="col-3 col-form-label">SRCC COMP</label>
            <div class="col-9">
              <input
                type="text"
                id="fcSrccC"
                class="form-control"
                placeholder="0.00"
                v-model="fRatesAdd.srcc_comp"
                required
              />
            </div>
          </div>
          <div class="form-group col-6 row">
            <label for="fcSrccT" class="col-3 col-form-label">SRCC TLO</label>
            <div class="col-9">
              <input
                type="text"
                id="fcSrccT"
                class="form-control"
                placeholder="0.00"
                v-model="fRatesAdd.srcc_tlo"
                required
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6 row">
            <label for="fcTsC" class="col-3 col-form-label">TS COMP</label>
            <div class="col-9">
              <input
                type="text"
                id="fcTsC"
                class="form-control"
                placeholder="0.00"
                v-model="fRatesAdd.ts_comp"
                required
              />
            </div>
          </div>
          <div class="form-group col-6 row">
            <label for="fcTsT" class="col-3 col-form-label">TS TLO</label>
            <div class="col-9">
              <input
                type="text"
                id="fcTsT"
                class="form-control"
                placeholder="0.00"
                v-model="fRatesAdd.ts_tlo"
                required
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6 row">
            <label for="fcPad" class="col-3 col-form-label">Personal Accident Driver</label>
            <div class="col-9">
              <input
                type="text"
                id="fcPad"
                class="form-control"
                placeholder="0.00"
                v-model="fRatesAdd.pa_driver"
                required
              />
            </div>
          </div>
          <div class="form-group col-6 row">
            <label for="fcPap" class="col-3 col-form-label">Personal Accident Passenger</label>
            <div class="col-9">
              <input
                type="text"
                id="fcPap"
                class="form-control"
                placeholder="0.00"
                v-model="fRatesAdd.pa_passenger"
                required
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-6 row">
            <label for="fcTpl" class="col-3 col-form-label">TPL</label>
            <div class="col-9">
              <input
                type="text"
                id="fcTpl"
                class="form-control"
                placeholder="0.00"
                v-model="fRatesAdd.tpl"
                required
              />
            </div>
          </div>
          <div class="form-group col-6 row">
            <label for="fcAtpm" class="col-3 col-form-label">ATPM</label>
            <div class="col-9">
              <input
                type="text"
                id="fcAtpm"
                class="form-control"
                placeholder="0.00"
                v-model="fRatesAdd.atpm"
                required
              />
            </div>
          </div>
        </div>
        <div class="d-flex mb-4 justify-content-between">
          <input type="submit" class="btn btn-primary" />
          <a class="btn btn-outline-danger" @click="onDelete" v-if="isEdit">Delete</a>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    isEdit: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      fName: "",
      logo: "",
      fLogo: "",
      fAdmin: "",
      fRates: {
        comp: {
          1: {
            1: "",
            2: "",
            3: "",
            4: "",
            5: ""
          },
          2: {
            1: "",
            2: "",
            3: "",
            4: "",
            5: ""
          },
          3: {
            1: "",
            2: "",
            3: "",
            4: "",
            5: ""
          }
        },
        tlo: {
          1: {
            1: "",
            2: "",
            3: "",
            4: "",
            5: ""
          },
          2: {
            1: "",
            2: "",
            3: "",
            4: "",
            5: ""
          },
          3: {
            1: "",
            2: "",
            3: "",
            4: "",
            5: ""
          }
        }
      },
      fRatesAdd: {
        tsfwd_comp: "",
        tsfwd_tlo: "",
        eqvet_comp: "",
        eqvet_tlo: "",
        srcc_comp: "",
        srcc_tlo: "",
        ts_comp: "",
        ts_tlo: "",
        tpl: "",
        pa_driver: "",
        pa_passenger: "",
        atpm: ""
      },
      dataId: this.$route.params.id
    };
  },
  methods: {
    onFileChange(e) {
      let files = e.target.files || e.dataTransfer.files;
      if (!files.length) {
        console.log("no file found!");
        return;
      }
      let imageFile = files[0];
      if (!imageFile.type.match("image.*")) {
        e.target.value = "";
        alert("Please select image file");
        return;
      }
      if (imageFile.size > 2000000) {
        e.target.value = "";
        alert("Please select image under 2MB");
        return;
      }
      this.fLogo = imageFile;
      let reader = new FileReader();
      reader.onload = e => {
        this.logo = e.target.result;
      };
      reader.readAsDataURL(imageFile);
    },
    onSubmit() {
      let data = {
        name: this.fName,
        admin_fee: this.fAdmin,
        rates: this.fRates,
        rates_add: this.fRatesAdd
      };
      if (this.fLogo) data.logo = this.logo;

      this.$swal.queue([
        {
          title: "Saving..",
          confirmButtonText: "Back",
          allowOutsideClick: false,
          onBeforeOpen: () => {
            this.$swal.showLoading();
            axios
              .post(
                this.isEdit
                  ? "/site-api/admin/car-insurances/" + this.dataId
                  : "/site-api/admin/car-insurances",
                data
              )
              .then(response => {
                if (response.status !== 200)
                  throw new Error(response.status.text);
                this.$swal.hideLoading();
                this.$swal.clickConfirm();
                this.$swal.insertQueueStep({
                  type: "success",
                  title: "Data Saved Success!",
                  confirmButtonText: "Confirm",
                  onAfterClose: () => {
                    this.$router.go(-1);
                  }
                });
              })
              .catch(error => {
                this.$swal.showValidationMessage("Fail to save data: " + error);
                this.$swal.hideLoading();
              });
          }
        }
      ]);
    },
    fetchData() {
      axios
        .get("/site-api/admin/car-insurances/" + this.dataId)
        .then(response => {
          this.fName = response.data.name;
          this.logo = response.data.logo;
          this.fAdmin = response.data.admin_fee;
          this.fRates = response.data.rates;
          this.fRatesAdd = response.data.rates_add;
        })
        .catch(error => {
          this.$swal.fire({
            type: "error",
            title: "Error " + error.response.status + ": failed to fetch data!",
            text: error.response.data.message
          });
        });
    },
    onDelete() {
      this.$swal
        .fire({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, delete it!",
          showLoaderOnConfirm: true,
          preConfirm: () => {
            return axios
              .delete(
                "/site-api/admin/car-insurances/" + this.dataId + "/delete"
              )
              .then(response => {
                if (response.status !== 200) {
                  throw new Error(response.statusText);
                }
                return response;
              })
              .catch(error => {
                this.$swal.showValidationMessage(`Request failed: ${error}`);
              });
          },
          allowOutsideClick: () => !this.$swal.isLoading()
        })
        .then(result => {
          if (result.value) {
            this.$swal.fire({
              title: "Deleted!",
              text: "Data has been deleted.",
              type: "success",
              onAfterClose: () => {
                this.$router.go(-1);
              }
            });
          }
        });
    }
  },
  created() {
    if (this.isEdit) this.fetchData();
  }
};
</script>

<style scoped>
</style>
