<template>
  <div class="content">
    <div class="content-title">Manage {{insurance.name}} Car Insurance Workshop Partner</div>
    <div class="content-body">
      <div class="d-flex mb-4 justify-content-between">
        <a class="btn btn-outline-secondary" @click="$router.go(-1)">Back</a>
      </div>
      <div class="row">
        <div class="col-5">
          <p>Available Option:</p>
          <div class="fh-box inset-container">
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Address</th>
                  <th>City</th>
                  <th>Phone</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in availWorkshop" @dblclick="addItem(item)">
                  <td>{{item.name}}</td>
                  <td>{{item.address}}</td>
                  <td>{{item.city}}</td>
                  <td>{{item.phone}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <p class="text-muted">*Double click to add workshop partner</p>
        </div>
        <div class="col-2 d-flex justify-content-center">
          <p class="h1" style="margin-top: 15vw">
            <i class="left"></i>
            <i class="right"></i>
          </p>
        </div>
        <div class="col-5">
          <p>Selected Workshop:</p>
          <div class="fh-box inset-container">
            <table class="table table-hover table-sm">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Address</th>
                  <th>City</th>
                  <th>Phone</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(item, index) in sWorkshops" @dblclick="removeItem(index)">
                  <td>{{item.name}}</td>
                  <td>{{item.address}}</td>
                  <td>{{item.city}}</td>
                  <td>{{item.phone}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <p class="text-muted">*Double click to remove workshop partner</p>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <button class="btn btn-primary" @click="saveInsuranceWorkshop">Save</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      insurance: this.$route.query,
      workshops: [],
      sWorkshops: []
    };
  },
  methods: {
    fetchWorkshops() {
      axios
        .get("/site-api/admin/car-workshops")
        .then(response => {
          this.workshops = response.data;
        })
        .catch(error => {
          this.$swal.fire({
            type: "error",
            title:
              "Error" +
              error.response.status +
              ": failed to fetch benefits data!",
            text: error.response.data.message
          });
        });
    },
    fetchInsuranceWorkshops() {
      axios
        .get(
          "/site-api/admin/car-insurances/" + this.insurance.id + "/workshops"
        )
        .then(response => {
          this.sWorkshops = response.data;
        })
        .catch(error => {
          this.$swal.fire({
            type: "error",
            title:
              "Error" +
              error.response.status +
              ": failed to fetch insurance benefits data!",
            text: error.response.data.message
          });
        });
    },
    addItem($item) {
      this.sWorkshops.push($item);
    },
    removeItem($idx) {
      this.$delete(this.sWorkshops, $idx);
    },
    saveInsuranceWorkshop() {
      this.$swal.queue([
        {
          title: "Saving..",
          confirmButtonText: "Back",
          allowOutsideClick: false,
          onBeforeOpen: () => {
            this.$swal.showLoading();
            axios
              .post(
                "/site-api/admin/car-insurances/" +
                  this.insurance.id +
                  "/workshops",
                {
                  workshops: _.map(this.sWorkshops, "id")
                }
              )
              .then(response => {
                if (response.status !== 200)
                  throw new Error(response.status.text);
                this.$swal.hideLoading();
                this.$swal.clickConfirm();
                this.$swal.insertQueueStep({
                  type: "success",
                  title: "Data Saved Success!",
                  confirmButtonText: "Confirm"
                });
              })
              .catch(error => {
                this.$swal.showValidationMessage("Fail to save data: " + error);
                this.$swal.hideLoading();
              });
          }
        }
      ]);
    }
  },
  created() {
    this.fetchWorkshops();
    this.fetchInsuranceWorkshops();
  },
  computed: {
    availWorkshop() {
      return _.differenceBy(this.workshops, this.sWorkshops, "id");
    }
  }
};
</script>

<style scoped>
.fh-box {
  height: 30vw;
  overflow-y: scroll;
}

.float-container {
  background: #ffffff;
  -webkit-box-shadow: 7px 5px 25px 0px rgba(150, 150, 150, 1);
  -moz-box-shadow: 7px 5px 25px 0px rgba(150, 150, 150, 1);
  box-shadow: 7px 5px 25px 0px rgba(150, 150, 150, 1);
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
</style>

