<template>
  <div class="content">
    <div class="content-title">Property Regions - {{isEdit?'Edit':'Create'}}</div>
    <div class="content-body">
      <div class="d-flex mb-4">
        <a class="btn btn-outline-secondary" @click="$router.go(-1)">Back</a>
      </div>
      <form action="#" v-on:submit.prevent="onSubmit">
        <div class="row">
          <div class="col-8">
            <div class="form-group">
              <label for="fcName">Name</label>
              <input type="text" class="form-control" id="fcName" v-model="fName" required>
            </div>
          </div>
        </div>
        <div class="d-flex mb-4 justify-content-between">
          <input type="submit" class="btn btn-primary">
          <a class="btn btn-outline-danger" @click="onDelete" v-if="isEdit">Delete</a>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    isEdit: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      fName: "",
      dataId: this.$route.params.id
    };
  },
  methods: {
    onSubmit() {
      let data = {
        name: this.fName
      };
      this.$swal.queue([
        {
          title: "Saving..",
          confirmButtonText: "Back",
          allowOutsideClick: false,
          onBeforeOpen: () => {
            this.$swal.showLoading();
            axios
              .post(
                this.isEdit
                  ? "/site-api/admin/properties/provinces/" + this.dataId
                  : "/site-api/admin/properties/provinces",
                data
              )
              .then(response => {
                if (response.status !== 200)
                  throw new Error(response.status.text);
                this.$swal.hideLoading();
                this.$swal.clickConfirm();
                this.$swal.insertQueueStep({
                  type: "success",
                  title: "Data Saved Success!",
                  confirmButtonText: "Confirm",
                  onAfterClose: () => {
                    this.$router.go(-1);
                  }
                });
              })
              .catch(error => {
                this.$swal.showValidationMessage("Fail to save data: " + error);
                this.$swal.hideLoading();
              });
          }
        }
      ]);
    },
    fetchData() {
      axios
        .get("/site-api/admin/properties/provinces/" + this.dataId)
        .then(response => {
          this.fName = response.data.name;
        })
        .catch(error => {
          this.$swal.fire({
            type: "error",
            title: "Error " + error.response.status + ": failed to fetch data!",
            text: error.response.data.message
          });
        });
    },
    onDelete() {
      this.$swal
        .fire({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, delete it!",
          showLoaderOnConfirm: true,
          preConfirm: () => {
            return axios
              .delete(
                "/site-api/admin/properties/provinces/" +
                  this.dataId +
                  "/delete"
              )
              .then(response => {
                if (response.status !== 200) {
                  throw new Error(response.statusText);
                }
                return response;
              })
              .catch(error => {
                this.$swal.showValidationMessage(`Request failed: ${error}`);
              });
          },
          allowOutsideClick: () => !this.$swal.isLoading()
        })
        .then(result => {
          if (result.value) {
            this.$swal.fire({
              title: "Deleted!",
              text: "Your file has been deleted.",
              type: "success",
              onAfterClose: () => {
                this.$router.go(-1);
              }
            });
          }
        });
    }
  },
  created() {
    if (this.isEdit) this.fetchData();
  }
};
</script>

<style scoped>
</style>
