<template>
  <div class="content">
    <div class="content-title">Property Insurance Companies - {{isEdit?'Edit':'Create'}}</div>
    <div class="content-body">
      <div class="d-flex mb-4">
        <a class="btn btn-outline-secondary" @click="$router.go(-1)">Back</a>
      </div>
      <form action="#" v-on:submit.prevent="onSubmit">
        <div class="row">
          <div class="col-8">
            <div class="form-group">
              <label for="fcName">Company Name</label>
              <input type="text" class="form-control" id="fcName" v-model="fName" required />
            </div>
            <div class="form-group">
              <label for="fcAdmin">Admin Fee</label>
              <input
                id="fcAdmin"
                class="form-control"
                type="number"
                min="0"
                v-model="fAdmin"
                required
              />
            </div>
          </div>
          <div class="form-group col-4">
            <label for="fcLogo">Logo</label>
            <img :src="logo" class="img-fluid d-block" />
            <input
              type="file"
              class="form-control-file border"
              id="fcLogo"
              v-on:change="onFileChange($event)"
              :required="!isEdit"
            />
          </div>
        </div>

        <h3>Rates</h3>
        <hr />
        <p class="h4">Flexas</p>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Flexas Class 1</th>
              <th>Flexas Class 2</th>
              <th>Flexas Class 3</th>
            </tr>
          </thead>
          <tbody>
            <td>
              <input
                type="text"
                placeholder="0.00"
                class="form-control"
                v-model="fRates.rate_flexas_class1"
                required
              />
            </td>
            <td>
              <input
                type="text"
                placeholder="0.00"
                class="form-control"
                v-model="fRates.rate_flexas_class2"
                required
              />
            </td>
            <td>
              <input
                type="text"
                placeholder="0.00"
                class="form-control"
                v-model="fRates.rate_flexas_class3"
                required
              />
            </td>
          </tbody>
        </table>

        <p class="h4">Expansion</p>
        <div class="row">
          <div class="form-group col-6 row">
            <label for="fcEqvet1" class="col-3 col-form-label">EQVET Zona 1</label>
            <div class="col-9">
              <input
                type="text"
                id="fcEqvet1"
                class="form-control"
                placeholder="0.00"
                v-model="fRates.rate_eqvet_zone1"
                required
              />
            </div>
          </div>
          <div class="form-group col-6 row">
            <label for="fcEqvet2" class="col-3 col-form-label">EQVET Zona 2</label>
            <div class="col-9">
              <input
                type="text"
                id="fcEqvet2"
                class="form-control"
                placeholder="0.00"
                v-model="fRates.rate_eqvet_zone2"
                required
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-6 row">
            <label for="fcEqvet3" class="col-3 col-form-label">EQVET Zona 3</label>
            <div class="col-9">
              <input
                type="text"
                id="fcEqvet3"
                class="form-control"
                placeholder="0.00"
                v-model="fRates.rate_eqvet_zone3"
                required
              />
            </div>
          </div>
          <div class="form-group col-6 row">
            <label for="fcEqvet4" class="col-3 col-form-label">EQVET Zona 4</label>
            <div class="col-9">
              <input
                type="text"
                id="fcEqvet4"
                class="form-control"
                placeholder="0.00"
                v-model="fRates.rate_eqvet_zone4"
                required
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-6 row">
            <label for="fcEqvet5" class="col-3 col-form-label">EQVET Zona 5</label>
            <div class="col-9">
              <input
                type="text"
                id="fcEqvet5"
                class="form-control"
                placeholder="0.00"
                v-model="fRates.rate_eqvet_zone5"
                required
              />
            </div>
          </div>
          <div class="form-group col-6 row">
            <label for="fcOther" class="col-3 col-form-label">Other</label>
            <div class="col-9">
              <input
                type="text"
                id="fcOther"
                class="form-control"
                placeholder="0.00"
                v-model="fRates.rate_other"
                required
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-6 row">
            <label for="fcRsdmcc" class="col-3 col-form-label">RSMDCC</label>
            <div class="col-9">
              <input
                type="text"
                id="fcRsdmcc"
                class="form-control"
                placeholder="0.00"
                v-model="fRates.rate_rsmdcc"
                required
              />
            </div>
          </div>
          <div class="form-group col-6 row">
            <label for="fcTsfwd" class="col-3 col-form-label">TSFWD</label>
            <div class="col-9">
              <input
                type="text"
                id="fcTsfwd"
                class="form-control"
                placeholder="0.00"
                v-model="fRates.rate_tsfwd"
                required
              />
            </div>
          </div>
        </div>
        <div class="d-flex mb-4 justify-content-between">
          <input type="submit" class="btn btn-primary" />
          <a class="btn btn-outline-danger" @click="onDelete" v-if="isEdit">Delete</a>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    isEdit: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      fName: "",
      logo: "",
      fLogo: "",
      fAdmin: "",
      fRates: {
        rate_flexas_class1: "",
        rate_flexas_class1: "",
        rate_flexas_class3: "",
        rate_rsmdcc: "",
        rate_other: "",
        rate_tsfwd: "",
        rate_eqvet_zone1: "",
        rate_eqvet_zone2: "",
        rate_eqvet_zone3: "",
        rate_eqvet_zone4: "",
        rate_eqvet_zone5: ""
      },
      dataId: this.$route.params.id
    };
  },
  methods: {
    onFileChange(e) {
      let files = e.target.files || e.dataTransfer.files;
      if (!files.length) {
        console.log("no file found!");
        return;
      }
      let imageFile = files[0];
      if (!imageFile.type.match("image.*")) {
        e.target.value = "";
        alert("Please select image file");
        return;
      }
      if (imageFile.size > 2000000) {
        e.target.value = "";
        alert("Please select image under 2MB");
        return;
      }
      this.fLogo = imageFile;
      let reader = new FileReader();
      reader.onload = e => {
        this.logo = e.target.result;
      };
      reader.readAsDataURL(imageFile);
    },
    onSubmit() {
      let data = {
        name: this.fName,
        admin_fee: this.fAdmin,
        rates: this.fRates
      };
      if (this.fLogo) data.logo = this.logo;
      this.$swal.queue([
        {
          title: "Saving..",
          confirmButtonText: "Back",
          allowOutsideClick: false,
          onBeforeOpen: () => {
            this.$swal.showLoading();
            axios
              .post(
                this.isEdit
                  ? "/site-api/admin/property-insurances/" + this.dataId
                  : "/site-api/admin/property-insurances",
                data
              )
              .then(response => {
                if (response.status !== 200)
                  throw new Error(response.status.text);
                this.$swal.hideLoading();
                this.$swal.clickConfirm();
                this.$swal.insertQueueStep({
                  type: "success",
                  title: "Data Saved Success!",
                  confirmButtonText: "Confirm",
                  onAfterClose: () => {
                    this.$router.go(-1);
                  }
                });
              })
              .catch(error => {
                this.$swal.showValidationMessage("Fail to save data: " + error);
                this.$swal.hideLoading();
              });
          }
        }
      ]);
    },
    fetchData() {
      axios
        .get("/site-api/admin/property-insurances/" + this.dataId)
        .then(response => {
          this.fName = response.data.name;
          this.logo = response.data.logo;
          this.fAdmin = response.data.admin_fee;
          this.fRates = response.data.rates;
        })
        .catch(error => {
          this.$swal.fire({
            type: "error",
            title: "Error " + error.response.status + ": failed to fetch data!",
            text: error.response.data.message
          });
        });
    },
    onDelete() {
      this.$swal
        .fire({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          type: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, delete it!",
          showLoaderOnConfirm: true,
          preConfirm: () => {
            return axios
              .delete(
                "/site-api/admin/property-insurances/" + this.dataId + "/delete"
              )
              .then(response => {
                if (response.status !== 200) {
                  throw new Error(response.statusText);
                }
                return response;
              })
              .catch(error => {
                this.$swal.showValidationMessage(`Request failed: ${error}`);
              });
          },
          allowOutsideClick: () => !this.$swal.isLoading()
        })
        .then(result => {
          if (result.value) {
            this.$swal.fire({
              title: "Deleted!",
              text: "Your file has been deleted.",
              type: "success",
              onAfterClose: () => {
                this.$router.go(-1);
              }
            });
          }
        });
    }
  },
  created() {
    if (this.isEdit) this.fetchData();
  }
};
</script>

<style scoped>
</style>
